body{
  padding: 0;
  margin: 0;
  background: #f2f3f5;
}

.app-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper{
  flex: 1;
  max-width: 1200px;
  display: flex;
  align-self: center;
  width: 100%;
  margin: 20px 24px;
}