@use 'var';
@use 'common/mixin' as *;

body{
  padding: 0;
  margin: 0;
  background: getCssVar('bg', 'color', 'gray-0--gray-10');
  
  #__nuxt{
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }

  main{
    flex: 1;
    margin: 60px auto 0;
    display: flex;
    width: 100%;

    .page-content{
      flex: 1;
      display: flex;
      justify-content: center;
      .page-wrapper{
        @media screen and (min-width: 1660px) {
          width: 1660px;
        }
        @media screen and (max-width: 1660px) {
          flex: 1;
          // width: 100% - 364px;
        }
      }
    }

    slider{
      width: 320px;
      border-left: 1px solid getCssVar("border", "color", 'gray-1--gray-8');
      padding: 30px 24px;
    }
    
  }
}

.hide{
  display: none;
}
