@use 'sass:map';
@use 'sass:color';
@use 'sass:math';
@use 'sass:list';
@use './mixin' as *;

$colors: ()!default;
$colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'brand': #1890ff,
    'brand-sub': #ff4800,
  ),
  $colors
);

// 生成灰度色
$color-white: map.get($colors, 'white') !default;
$color-black: map.get($colors, 'black') !default;

@mixin set-color-mix-level(
  $base-color: $color-white,
  $number: 1,
  $mode: 'gray',
  $mix-color: $color-black
){
  $colors: map.deep-merge(
    (
      '#{$mode}-#{$number}': color.mix(
        $mix-color,
        $base-color,
        math.percentage(math.div($number, 10))
      )
    ),
    $colors
  ) !global;
}

@for $i from 0 through 10 {
  @include set-color-mix-level($color-white, $i)
}

// 把基色中的彩色生成四个亮度值
$color-types: brand, brand-sub;
$color-light-map: (
  'light': 1,
  'lighter': 2,
  'bright': 3,
  'dark': -1,
  'darker': -2,
);

@mixin set-color-light-level(
  $base-color,
  $light-name,
  $level,
){
  $colors: map.deep-merge(
    (
      '#{$base-color}-#{$light-name}': color.scale(
        map.get($colors, $base-color),
        $lightness: math.percentage(math.div($level, 10))
      )
    ),
    $colors
  ) !global;
}

@each $type in $color-types {
  @each $light-name, $level in $color-light-map{
    @include set-color-light-level($type, $light-name, $level)
  }
}

// 文本颜色
$theme-colors: ()!default;
$theme-colors:  map.deep-merge(
  transform-theme-colors(
    'text',
    (
      (normal, gray-7--gray-2),
      gray-9--gray-1
    )
  ),
  $theme-colors
);


// 背景颜色
$theme-colors: map.deep-merge(
  transform-theme-colors(
    'bg',
    (
      gray-0--gray-10,
      gray-1--gray-9,
    )
  ),
  $theme-colors
);